! ------------------------------------------------------------------------------
! Xft
! ------------------------------------------------------------------------------

Xft.dantialias:         true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hinstyle:           hintslight

! ------------------------------------------------------------------------------
! urxvt
!------------------------------------------------------------------------------

URxvt*buffered:         true
URxvt*cursorBlink:      true
URxvt*underlineColor:   yellow
URxvt*borderless:       1
URxvt*scrollBar:        false
URxvt*loginShell:       true
URxvt*secondaryScroll:  true # Enable Shift-PageUp/Down in screen
URxvt*saveLines:        5000
URxvt*termName:         rxvt-unicode-256color
URxvt*keysym.Home:      \033[1~
URxvt*keysym.End:       \033[4~

!! Font - Download at http:
URxvt.font:             xft:Input Mono Regular:size=12, \
                        xft:envy code r:size=14, \
                        xft:Terminess Powerline:size=14
URxvt.boldFont:         xft:Input Mono Bold:size=12, \
                        xft:envy code r:size=14, \
                        xft:Terminess Powerline:size=14



!! Transparency. Requires compositer like xcompmgr or similar.
!! URxvt*depth: 32
!! URxvt*background: [80]#000000
URxvt*.transparent:     true
!! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading:         25

!-*- Perl extensions -*-
URxvt.perl-ext-common:  default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.url-launcher:     google-chrome
URxvt.underlineURLs:    True
URxvt.matcher.button:   1

URxvt.intensityStyles:  false


!! A perl module can be used to get copy/paste and URL handling capabilities.
!! In order to use Perl modules in urxvt, the package must have been compiled with the "perl" USE flag.
!! Additionally, you will need either x11-misc/xsel or x11-misc/xclip for copy/paste capabilities.
!! One can grab the sources of a perl modules from muennich github or an ebuild for example.
!! It is possible to get other perl modules elsewhere on the internet.
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
!URxvt.copyCommand: xsel -ib
!URxvt.pasteCommand: xsel -ob

! ------------------------------------------------------------------------------
! Gruvbox color scheme
! ------------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background:            #282828
! soft contrast: *background: #32302f
*foreground:            #ebdbb2
! Black + DarkGrey
*color0:                #282828
*color8:                #928374
! DarkRed + Red
*color1:                #cc241d
*color9:                #fb4934
! DarkGreen + Green
*color2:                #98971a
*color10:               #b8bb26
! DarkYellow + Yellow
*color3:                #d79921
*color11:               #fabd2f
! DarkBlue + Blue
*color4:                #458588
*color12:               #83a598
! DarkMagenta + Magenta
*color5:                #b16286
*color13:               #d3869b
! DarkCyan + Cyan
*color6:                #689d6a
*color14:               #8ec07c
! LightGrey + White
*color7:                #a89984
*color15:               #ebdbb2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:     true
!                       bg       border   separator
rofi.color-window:      #282828, #a89984, #a89984
!                       bg       fg       bg+alt   hl+bg    hl+fg
rofi.color-normal:      #282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active:      #d79921, #282828, #d79921, #fabd2f, #282828
rofi.color-urgent:      #cc241d, #282828, #cc241d, #fb4934, #282828
